* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
h1 {
    margin: 50px 0;
}
h3, h2 {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.3em;
}
main, header {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article {
    background: #f7e018;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid #777;
    border-radius: 5px;
    width: 49%;
    padding: 35px;
    margin-bottom: 20px;
    word-break: break-all;
}
article a {
    text-decoration: none;
    color: #202020;
}
@media screen and (max-width: 650px) {
    article {
        width: 100%;
    }
    h1 {
        font-size: 1.7em;
        line-height: 50px;
    }
    h2 {
        font-size: 2.2em;
    }
}